<hr class="colorgraph">
<div class="row" style="padding: 2em">
    <div class="col-6">
        <label for="">BOMBA</label>
        <div class="input-group input-group-lg">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="fuelingPumpId" (change)="emitPumpIdEvent()">
                <option value="0"selected>Selecione a bomba</option>
                <option *ngFor="let pump of pumpList" [value]="pump.id">{{pump.name}}</option>
            </select>
        </div>
    </div>
    <div class="col-6">
        <label for="">VALOR PAGO</label>
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">R$</span>
            <input type="text" class="form-control" 
                (input)="emitFormatPaymentEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="fuelingPayment"
                placeholder="0,00"
            >
        </div>
    </div>
</div>	
<div class="row" style="padding: 2em">	
    <div class="col-6" *ngIf="command == 'editing'">
        <label for="">DATA</label>
        <div class="input-group input-group-lg">
            <input type="date" class="form-control" 
                (change)="emitDateEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="fuelingDate"
            >
        </div>
    </div>
    <div class="col-6" *ngIf="command == 'editing'">
        <label for="">QUANTIDADE</label>
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Lts</span>
            <input type="text" class="form-control" 
                (input)="emitFormatQuantityEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="fuelingQuantity"
            >
        </div>
    </div>
    <div class="col-12" *ngIf="command == 'editing'">
        <app-alert-message 
            [message]="message"
            (clearEvent)="emitClearMessage()"
        ></app-alert-message>
    </div>
</div>
<hr class="colorgraph">