<div class="hide-small">
 	<div class="thumbnail">
		<div class="form-group side-logo-img">
			<a href="/">
	 	    	<div>
				    <img src="assets/img/logo.png" alt="Logomarca">
				</div>
			</a>
		</div>
	</div>
	<div>	
		<div class="card gasoline">
			<div class="card-body">
			  <h2 class="gasoline">GASOLINA</h2>
			  <p>(Preço unit: {{gUnitPrice | currency: 'BRL'}})</p>	
			  <table class="table table-sm  table-striped">
				<thead>
				  <tr>
					<th scope="col"></th>
					<th scope="col">HOJE</th>
					<th scope="col">NO MÊS</th>
					<th scope="col">NO ANO</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<th scope="row" title="Quantidade vendido">Qtd:</th>
					<td>{{gTodayQuantity | number: '1.2'}}</td>
					<td>{{gMonthQuantity | number: '1.2'}}</td>
					<td>{{gYearQuantity  | number: '1.2'}}</td>
				  </tr>
				  <tr>
					<th scope="row" title="Total faturado">Tot:</th>
					<td>{{gTodayPayment | currency: 'BRL'}}</td>
					<td>{{gMonthPayment | currency: 'BRL'}}</td>
					<td>{{gYearPayment  | currency: 'BRL'}}</td>
				  </tr>				  
				</tbody>
			  </table>
			</div>
			<div class="card-body">
			  <h2 class="diesel">DIESEL</h2>
			  <p>(Preço unit: {{dUnitPrice | currency: 'BRL'}})</p>	
			  <table class="table table-sm  table-striped">
				<thead>
				  <tr>
					<th scope="col"></th>
					<th scope="col">HOJE</th>
					<th scope="col">NO MÊS</th>
					<th scope="col">NO ANO</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<th scope="row" title="Quantidade vendida em litros">Qtd:</th>
					<td>{{dTodayQuantity | number: '1.2'}}</td>
					<td>{{dMonthQuantity | number: '1.2'}}</td>
					<td>{{dYearQuantity  | number: '1.2'}}</td>
				  </tr>
				  <tr>
					<th scope="row" title="Total faturado em Reais">Tot:</th>
					<td>{{dTodayPayment | currency: 'BRL'}}</td>
					<td>{{dMonthPayment | currency: 'BRL'}}</td>
					<td>{{dYearPayment  | currency: 'BRL'}}</td>
				  </tr>				  
				</tbody>
			  </table>
			</div>
			<div class="card-body">
			  <h2 class="diesel">TOTAL</h2>	
			  <p>(Totais gasolina + diesel)</p>	
			  <table class="table table-sm  table-striped">
				<thead>
				  <tr>
					<th scope="col"></th>
					<th scope="col">HOJE</th>
					<th scope="col">NO MÊS</th>
					<th scope="col">NO ANO</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<th scope="row" title="Quantidade vendidida em litros">Qtd:</th>
					<td>{{tTodayQuantity | number: '1.2'}}</td>
					<td>{{tMonthQuantity | number: '1.2'}}</td>
					<td>{{tYearQuantity  | number: '1.2'}}</td>
				  </tr>
				  <tr>
					<th scope="row" title="Total faturado">Tot:</th>
					<td>{{tTodayPayment | currency: 'BRL'}}</td>
					<td>{{tMonthPayment | currency: 'BRL'}}</td>
					<td>{{tYearPayment  | currency: 'BRL'}}</td>
				  </tr>				  
				</tbody>
			  </table>
			</div>
		</div>
	</div>
</div>		