<app-header 
	(pumpEvent)="setPumpList($event)"
	(tankEvent)="setTankList($event)"
	(reportEvent)="setReportFile($event)"
></app-header>
 <div class="container-fluid">
	<input id="page_id" type="hidden" value="home_admin">
	<input id="base_url" type="hidden" value="/" >

   <div class="row">
	   <div class="col-md-3">
		   <app-aside class="hide-small"></app-aside>
	   </div>
	   <div class="col-sm-0 col-md-9">
			<section class="right-content">
				<div class="row">
					<div class="col-md-6">
						<button type="button"  
							data-bs-target="#newModalToggle" 
							data-bs-toggle="modal"
							class="btn btn-outline-info btn-block fueling-btn" 
							>REGISTRAR ABASTECIMENTO</button>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6 small">
								<label>DATA</label>
								<div class="input-group mb-3">
									<div class="input-group-text">
									  <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="enabledDate" 
									  	aria-label="Checkbox" title="Seleciona todas as datas" (change)="filterFueling()">
									</div>
									<input type="date" class="form-control" aria-describedby="basic-addon1" [disabled]="enabledDate"
										(change)="filterFueling()" [ngModel]="filteredDate | date:'yyyy-MM-dd'" (ngModelChange)="filteredDate = $event" >
								  </div>
							</div>
							<div class="col-md-6 small">
								<label for="">TANQUE</label>
								<select class="form-select" aria-label="Default select example" [(ngModel)]="filteredTank" (change)="filterFueling()">
									<option value="ALL"selected>TODOS</option>
									<option value="TANQUE_01">DIESEL</option>
									<option value="TANQUE_02">GASOLINA</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6" style="width: 100%">
								<div class="row">
									<div class="col-md-3 small-check">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" [(ngModel)]="filteredPumps[0].checked" (click)="setFilteredPump(0)"/>
											<label class="form-check-label" for="inlineCheckbox1">BOMBA1</label>
										</div>
									</div>
									<div class="col-md-3 small-check">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" [(ngModel)]="filteredPumps[1].checked" (click)="setFilteredPump(1)"/>
											<label class="form-check-label" for="inlineCheckbox1">BOMBA2</label>
										</div>
									</div>
									<div class="col-md-3 small-check">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" [(ngModel)]="filteredPumps[2].checked" (click)="setFilteredPump(2)"/>
											<label class="form-check-label" for="inlineCheckbox1">BOMBA3</label>
										</div>
									</div>
									<div class="col-md-3 small-check">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" [(ngModel)]="filteredPumps[3].checked" (click)="setFilteredPump(3)"/>
											<label class="form-check-label" for="inlineCheckbox1">BOMBA4</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>	
				<hr class="colorgraph">  				        
					<app-fueling-table 
						[tableData]="filteredList"
						(newEvent)="new"
						(editEvent)="edit"
						(removeEvent)="remove($event)"
					></app-fueling-table>
				<hr class="colorgraph">
				<div>
					<button (click)="new()" class="btn btn-outline-info btn-block btn-right" tabindex="12">REGISTRAR ABASTECIMENTO</button>
				</div>
			</section>
	   </div>
   </div>
   <div class="modal fade" id="pumpModalToggle" aria-labelledby="pumpModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalToggleLabel">BOMBAS</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<hr class="colorgraph">
			<app-pump-table 
				[message]="alertMessage"
				[list]="pumpList"
				(clearEvent)="clearAlertMessage()"
				(showEvent)="showNotImplementedAlert()"
			></app-pump-table>
			<hr class="colorgraph">
		</div>
		<div class="modal-footer">
		  <button class="btn btn-outline-primary btn-modal" (click)="showNotImplementedAlert()">CADASTRAR BOMBA</button>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal fade" id="tankModalToggle" aria-labelledby="tankModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="tankModalToggleLabel">TANQUES</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<hr class="colorgraph">
			<app-tank-table 
				[message]="alertMessage"
				[list]="tankList"
				(clearEvent)="clearAlertMessage()"
				(showEvent)="showNotImplementedAlert()"
			></app-tank-table>
			<hr class="colorgraph">
		</div>
		<div class="modal-footer">
		  <button class="btn btn-outline-primary btn-modal" (click)="showNotImplementedAlert()">CADASTRAR TANQUE</button>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal fade" id="newModalToggle" aria-labelledby="newModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="newModalToggleLabel">NOVO ABASTECIMENTO</h1>
		  <button id="newCloseModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<hr class="colorgraph">
			<div class="row" style="padding: 2em">
				<div class="col-6">
					<label for="">BOMBA</label>
					<div class="input-group input-group-lg">
						<select class="form-select" aria-label="Default select example" [(ngModel)]="fuelingPump">
							<option value="0"selected>Selecione a bomba</option>
							<option value="0">BOMBA1</option>
							<option value="1">BOMBA2</option>
							<option value="2">BOMBA3</option>
							<option value="3">BOMBA4</option>
						</select>
					</div>
				</div>
				<div class="col-6">
					<label for="">VALOR</label>
					<div class="input-group input-group-lg">
						<span class="input-group-text" id="inputGroup-sizing-lg">R$</span>
						<input type="text" class="form-control" 
							(input)="formatValue()"
							aria-label="Sizing example input" 
							aria-describedby="inputGroup-sizing-lg" 
							[(ngModel)]="fuelingValue"
							placeholder="0.00"
							>
					</div>
				</div>
			</div>
			<hr class="colorgraph">
		</div>
		<div class="modal-footer">
		  <button class="btn btn-outline-primary btn-modal" (click)="new()">SALVAR</button>
		</div>
	  </div>
	</div>
  </div>
 </div>
<app-footer></app-footer>
