<app-header 
	(pumpEvent)="setPumpList($event)"
	(tankEvent)="setTankList($event)"
	(reportEvent)="setReportFile($event)"
></app-header>
 <div class="container-fluid">
	<input id="page_id" type="hidden" value="home_admin">
	<input id="base_url" type="hidden" value="/" >

   <div class="row">
	   <div class="col-md-3">
		   <app-aside class="hide-small"></app-aside>
	   </div>
	   <div class="col-sm-0 col-md-9">
			<section class="right-content">
				<div class="row">
					<div class="col-md-6">
						<button type="button"  
							data-bs-target="#newModalToggle" 
							data-bs-toggle="modal"
							class="btn btn-outline-info btn-block fueling-btn" 
							>REGISTRAR ABASTECIMENTO</button>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6 small">
								<label>DATA</label>
								<div class="input-group mb-3">
									<div class="input-group-text">
									  <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="enabledDate" 
									  	aria-label="Checkbox" title="Seleciona todas as datas">
									</div>
									<input type="date" class="form-control" aria-describedby="basic-addon1" [disabled]="enabledDate"
										(change)="filterFueling()" [ngModel]="filteredDate | date:'yyyy-MM-dd'" (ngModelChange)="filteredDate = $event" >
								  </div>
							</div>
							<div class="col-md-6 small">
								<label for="">TANQUE</label>
								<select class="form-select" aria-label="Default select example" [(ngModel)]="filteredTank" (change)="filterFueling()">
									<option value="ALL"selected>TODOS</option>
									<option *ngFor="let tank of tankList" [value]="tank.name">{{tank.fuel}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6" style="width: 100%">
								<div class="row">
									<div class="col-md-3 small-check" *ngFor="let pump of pumpList; let i = index">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" [(ngModel)]="filteredPumps[i].checked" (click)="setFilteredPump(i)"/>
											<label class="form-check-label" for="inlineCheckbox1">{{pump.name}}</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>	
				<hr class="colorgraph">  				        
					<app-fueling-table 
						[tableData]="filteredList"
						(newEvent)="new()"
						(editEvent)="edit($event)"
						(removeEvent)="remove($event)"
					></app-fueling-table>
				<hr class="colorgraph">
				<div>
					<button (click)="new()" class="btn btn-outline-info btn-block btn-right" 
					tabindex="12"
					data-bs-target="#newModalToggle" 
					data-bs-toggle="modal"
					>REGISTRAR ABASTECIMENTO</button>
				</div>
			</section>
	   </div>
   </div>
   <div class="modal fade" id="pumpModalToggle" aria-labelledby="pumpModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalToggleLabel">BOMBAS</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<hr class="colorgraph">
			<app-pump-table 
				[message]="alertMessage"
				[list]="pumpList"
				(clearEvent)="clearAlertMessage()"
				(showEvent)="showNotImplementedAlert()"
			></app-pump-table>
			<hr class="colorgraph">
		</div>
		<div class="modal-footer">
		  <button class="btn btn-outline-primary btn-modal" (click)="showNotImplementedAlert()">CADASTRAR BOMBA</button>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal fade" id="tankModalToggle" aria-labelledby="tankModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="tankModalToggleLabel">TANQUES</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<hr class="colorgraph">
			<app-tank-table 
				[message]="alertMessage"
				[list]="tankList"
				(clearEvent)="clearAlertMessage()"
				(showEvent)="showNotImplementedAlert()"
			></app-tank-table>
			<hr class="colorgraph">
		</div>
		<div class="modal-footer">
		  <button class="btn btn-outline-primary btn-modal" (click)="showNotImplementedAlert()">CADASTRAR TANQUE</button>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal fade" id="newModalToggle" aria-labelledby="newModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="newModalToggleLabel">NOVO ABASTECIMENTO</h1>
		  <button id="newCloseModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
				<app-fueling-form
				command = 'creating'
				[pumpList] = 'pumpList'
				[fuelingPumpId]  = 'fuelingPumpId'
				[fuelingPayment] = 'fuelingPayment'				
				(paymentEvent) = 'formatInputPayment($event)'
				(pumpIdEvent) = 'setFuelingPumpId($event)'
			></app-fueling-form>
		</div>	
		<div class="modal-footer">
			<button class="btn btn-outline-primary btn-modal" (click)="new()">SALVAR</button>
	    </div>	
	  </div>
	</div>	
  </div>	  	
  <div class="modal fade" id="editModalToggle" aria-labelledby="editModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="editModalToggleLabel">EDITAR ABASTECIMENTO</h1>
		  <button id="editCloseModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<app-fueling-form
				command = 'editing'
				[pumpList] = 'pumpList'
				[fuelingDate] = 'fuelingDate'
				[fuelingPumpId] = 'fuelingPumpId'
				[fuelingPayment] = 'fuelingPayment'
				[fuelingQuantity] = 'fuelingQuantity'
				(paymentEvent) = 'formatInputPayment($event)'
				(quantityEvent) = 'formatInputQuantity($event)' 
				(pumpIdEvent) = 'setFuelingPumpId($event)'
				(dateEvent) = 'setFuelingDate($event)'
			></app-fueling-form>
		</div>
		<div class="modal-footer">
		  <button class="btn btn-outline-primary btn-modal" (click)="update()">SALVAR</button>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal fade" id="removeModalToggle" aria-labelledby="removeModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="removeModalToggleLabel">REMOVER ABASTECIMENTO</h1>
		  <button id="removeCloseModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<h3 class="grey">Deseja remover o abastecimento {{removingId}}</h3>
		</div>	
		<div class="modal-footer">
			<button class="btn btn-outline-primary btn-modal" (click)="confirmRemove()">REMOVER</button>
	    </div>	
	  </div>
	</div>	
  </div>
</div>
<app-footer></app-footer>
