<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>DATA</th>
                <th>BOMBA</th>
                <th title="Tipo de combustíve / numero do tanque">TANQ/COMB</th>
                <th>QUATIDADE</th>
                <th>TRIBUTAÇÃO</th>
                <th>TOTAL</th>
                <th>EDITAR</th>
                <th>REMOVER</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of tableData">
                <td>{{f.id}}</td>
                <td>{{f.date}}</td>	
                <td>{{f.pump}}</td>
                <td>{{f.tankName}}/{{f.fuel}}</td>
                <td>{{f.quantity  | currency: 'BRL'}}</td>								
                <td>{{f.taxation  | currency: 'BRL'}}</td>
                <td>{{f.amount}}</td>
                <td><a href="#" onclick="return null" (click)="emitEditEvent(f)"><i class="bi bi-pencil-square icon"></i></a></td>
                <td><a href="#" onclick="return null" (click)="emitRemoveEvent(f.id)" title="Excluir"><i class="bi bi-trash3 icon"></i></a></td>
           </tr>
        </tbody>
    </table>
</div>
